.btn-round{
    height: 50px;
    width: 50px;
    margin-top: 8px;
    padding: 10px !important;
    background-image: url(../images/magnifying.png);
    background-color: white !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    border-radius: 50% !important;
}

.btn-round:hover{
    background-color: rgb(240, 240, 240) !important;
}
